@model IEnumerable<DAWeb.Models.Menu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_MyLayoutAdmin.cshtml";
}

@section _Header
{
    <link href="~/Areas/admin/ContentAdmin/vendor/datatables/dataTables.bootstrap4.css"   rel="stylesheet" /> 
    <link href="~/Areas/admin/ContentAdmin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Meta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datebegin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Meta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datebegin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}@section _Footer 
{
    <script src="~/Areas/admin/ContentAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Areas/admin/ContentAdmin/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/admin/ContentAdmin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(funtion(){
            $(#dataTable- example).DataTable({
                responsive: true
            });
        });
    </script>
}
</table>
